/* CSS Général */

body {
  background-color: #FFE6B5 !important;
  overflow-x: hidden;
  height: 100%;
}

.font-gugi {
  font-family: "Gugi";
}

.text-blue {
  color: #030A4B;
}

.text-shadow-yellow {
  text-shadow: #FFE6B5 1px 0 10px;
}

.bg-blue {
  background-color: #030A4B;
}

/* Navbar */

.navc {
  background-color: #030A4B;
  color: #FFE6B5;
}

.logonav{
  width: 60% !important;
}

.pp{
  width: 120%;
  border-radius: 100%;
}

.menu-deroulant > a:after{
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}
.sous-menu {
  margin-top: var(--hauteur-menu);
  width: 25%;
  text-align: left;
  background-color: #FFB82F;
  /* border-radius: 20px; */
  overflow: hidden;
  max-height: 0;
  color: black;
  align-items: left;
  list-style: none;
}

.sous-menu > li > a {
  height: 50px;
  padding-left: 20px;
  width: 100%;
  align-items: center;
  display: flex;
}

nav > ul > li:hover > a{
  color: #2169EC;
}

.sous-menu > li:hover {
  background-color: rgba(33, 105, 236, 0.3);
}

.sous-menu > li:hover > a {
  color: #FFB82F;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #FFB82F;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #FFB82F;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}

#button:hover{
  animation: bgbutton 1s infinite;
  color: #154072;
  /* border-radius: 50px; */

}

@keyframes bgbutton {
  from{background-color: #FFE6B5;}
  to{background-color: #FFE6B5;}
}

#button{
  color: #FFE6B5;
  font-family: "Gugi";
  font-size: 30px;
}

/* Connexion */

#eye {
  width: 30px;
}

/* Profil */

.profil-picture {
  width: 100px;
  border-radius: 100%;
}

.profil-banner {
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  height: 200px;
}

.profil-media {
  max-width: 200px;
  max-height: 100px;
}

.profil-friend-list {
  list-style: none;
}

/* Home */

.home_post {
  background-color: #FFB82F;
  width: 50vw;
  height: 100px;
  margin-bottom: 0px;
}