/* CSS Général */

body {
  background-color: #FFE6B5 !important;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
}

.font-gugi {
  font-family: "Gugi" !important;
}

.text-blue {
  color: #030A4B;
}

.text-yellow {
  color: #FFB82F;
}

.text-shadow-yellow {
  text-shadow: #FFE6B5 1px 0 10px;
}

.bg-blue {
  background-color: #030A4B;
}

.bg-yellow {
  background-color: #FFB82F !important;
}

.bg-light-yellow {
  background-color: #FFD27A !important;
}

/* Navbar */

.navc {
  background-color: #030A4B;
  color: #FFE6B5;
}

.logonav{
  width: 60% !important;
}

.pp{
  width: 120%;
  border-radius: 100%;
}

.menu-deroulant > a:after{
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.sous-menu {
  margin-top: var(--hauteur-menu);
  width: 25%;
  text-align: left;
  background-color: #FFB82F;
  /* border-radius: 20px; */
  overflow: hidden;
  max-height: 0;
  color: black;
  align-items: left;
  list-style: none;
}

.sous-menu > li > a {
  height: 50px;
  padding-left: 20px;
  width: 100%;
  align-items: center;
  display: flex;
}

nav > ul > li:hover > a{
  color: #2169EC;
}

.sous-menu > li:hover {
  background-color: rgba(33, 105, 236, 0.3);
}

.sous-menu > li:hover > a {
  color: #FFB82F;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #FFB82F;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #FFB82F;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}

#button:hover{
  animation: bgbutton 1s infinite;
  color: #154072;
  /* border-radius: 50px; */

}

@keyframes bgbutton {
  from{background-color: #FFE6B5;}
  to{background-color: #FFE6B5;}
}

#button{
  color: #FFE6B5;
  font-family: "Gugi";
  font-size: 30px;
}

/* Connexion */

.connexion-card {
  text-align: center;
  margin-top: 7%;
}

.connexion-card h1 {
  font-size: 7vmin;
}

.input {
  margin: auto;
  line-height: 40px;
  width: 50%;
}

.mail-input {
  margin: auto;
  line-height: 40px;
  width: 50%;
}

.password-input {
  line-height: 40px;
  width: 45%;
}

.dropdown {
  background: white;
  display: block;
  border-style: solid;
  border-radius: 10px;
  border-color: gray;
  border-width: 1px;
  list-style: none;
  padding: 0;
}

.dropdown-hidden {
  display: none;
}

.dropdown-button {
  line-height: 40px;
  background: white;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}

.dropdown-button-select button {
  line-height: 30px;
  background: none;
  border: none;
}

.dropdown-button-select:hover {
  border: solid;
  border-radius: 10px;
  border-color: gray;
  border-width: 1px;
  background-color: whitesmoke;
}

#eye {
  width: 5%;
  min-width: 30px;
}

.login-button {
  background: none;
  border: none;
  height: 100%;
  color: #154072;
  font-family: "Gugi";
  font-size: 2vw;
  margin-bottom: 8%;
  padding: 0px;
}

/* Inscription */

.inscription-card {
  text-align: center;
  margin-top: 2%;
  font-family: "Gugi";
}

.inscription-card h1 {
  font-size: 7vmin;
  margin-bottom: 5%;
}

.next-button {
  background: none;
  border: none;
  font-size: 30px;
  width: 80%;
  text-align: right;
}

/* Profil */

.profil-picture {
  background-color: #154072;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.profil-banner {
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  height: 200px;
}

.profil-media {
  max-width: 200px;
  max-height: 100px;
}

.profil-friend-list {
  list-style: none;
}

.edit-about-button {
  border: none;
  background-color: transparent;
  width: 30px;
}

.edit-about-button img {
  width: 30px;
}

/* Home */

.home-post {
  vertical-align: top;
  border: none;
  background-color: #FFB82F;
  width: 50vw;
  height: 100px; 
  margin-bottom: 0px;
  
}

.home-post::placeholder {
  color: black;
  vertical-align: top;
}

.popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.post {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  list-style: none;
  height: 30vh;
  position: relative;
}

.post-shadow {
  background-color: #030A4B;
  border-radius: 10px;
  padding-bottom: 5%;
}
.notif{
  background-color: #030A4B;
  width: 50vw;
  height: 90px;
  color: #FFB82F;
  border-radius: 20px;
  margin-top:40px
}
.titre{
  font-size: 70px;
}

/* Boutton messagerie */

#messaging {
  background-color: white;
  min-height: 100vh;
}

#messaging-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 1vw;
}

#messaging-button img {
  width: 10vw;
  background: white;
  border-radius: 100%;
}

#message-area {
  border-radius: 10px;
  resize: none;
}

.friend-list {
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.friend-button {
  background: none;
  border: none;
}

.message-list {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 70vh;
}

.message {
  display: flex;
  list-style: none;
  border-radius: 10px;
  width: fit-content;
  min-width: 100px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-bottom: 10px;
}

.message-profil-picture {
  background-color: #154072;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.message-self {
  background-color: #030A4B;
  margin-left: auto;
  margin-right: 1%;
  color: white;
}

.message-self h2 {
  text-align: end;
}

.message-friend {
  background-color: #FFB82F;
  text-align: start;
}

.button-send {
  border: none;
  border-radius: 10px;
  background-color: #030A4B;
  color: #FFE6B5;
  margin-right: 10px;
}